body {
  padding-top: 60px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
    .text-black{
        color: black; !important;
    }

    .text-bold{
        font-weight: bold;

    }