.text-black {
    color: black;
}

.text-bold {
    font-weight: bold;
}

.outline-glow {
    text-shadow: 4px 4px 4px #000000;
}

.text-bigger {
    font-size: 50px;
}
.navbar-brand1{
    display: inline-block;
    float: left;
}
.navbar-culoare {
    background-color: saddlebrown;
}

body {
	margin-top: 40px;
}

.form-right
{
    margin-left: 550px;
}