
body {
	margin-top: 40px;
}

.team-member{
	width: 90%;
}
.team-member-name{
	font-family:'Open Sans',Serif,serif;
	font-size: 30px;
	margin-left: 70px;
	font-style: italic;
}

.team-member-title{
	font-family:Tangerine,Serif,serif;
	font-size: 80px;
}

#title-ISBN{
  padding-top: 3rem;
  padding-bottom: 1rem;
}

#recommended_books{
	padding-top: 3rem;
  	padding-bottom: 3rem;
}

.recomandate{
	display: inline-block;
}