{% extends "layout.html" %}
{% block styles %}
    <!-- Additional css here -->
{% endblock %}

{% block content %}
    <section id="services" class="bg-primary">
        <div class="container">
            <div class="row">
                <br> <br>
                <div class="row text-center wow fadeInLeft animated" data-wow-duration="500ms">

                    <!-- Descriere - Sugestie de lectura-->
                    <div class="col-md-4 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="900ms">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x" style="color: #36a0c1"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading text-bold">Sugestie de lectura</h4>
                        <p class="text-white text-bold">Dacă ți-a plăcut un autor, dar nu știi unde să cauți alte
                            titluri
                            ale acestuia, poți apela oricând la site-ul nostru. Dacă introduci codul ISBN al cărții
                            tale, noi iți vom sugera alte titluri.
                        </p>
                    </div>

                    <!-- Descriere - Responsive Desigh-->
                    <div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x" style="color: #36a0c1"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x" style="color: #36a0c1"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading text-bold">Responsive Design</h4>
                        <p class="text-white text-bold">Designul eficientizează utilizarea site-ului, astfel te vei
                            bucura din plin de
                            serviciile oferite, atât pe laptop cât și pe mobil.
                        </p>
                    </div>

                    <!-- Descriere - Online-->
                    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x" style="color: #36a0c1"></i>
                        <i class="fa fa-internet-explorer fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading text-white text-bold">Online</h4>
                        <p class="text-white text-bold">Catch-a-Book facilitează căutarea unei cărți cu ajutorul codului
                            ISBN. Totodată, poți alege prețul cel mai bun pentru cartea dorită.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    <br>
    </section>


    <section id="about_project" style="background-color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading wow fadeIn animated" data-wow-duration="1500ms" style="font-family:Tangerine,Serif,serif; font-size: 60px">Proiectul nostru</h2>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="text-spacing">
                        <h3 class="section-subheading text-spacing" style="font-family:'Open Sans',Serif,serif; font-size: 25px; font-style: italic; margin-bottom: 50px">
                            Aplicația Web "Catch-a-Book" a fost realizată din pasiune pentru lectură. Scopul ei este
                            de a încuraja tinerii să citească, prin simplul fapt că iși vor găsi mult mai ușor cartea
                            dorită. Cu o simplă scanare a codului ISBN, utilizatorul poate afla detalii despre acea
                            carte, cât
                            și prețul cel mai convenabil și magazinul de la care o poate cumpăra. Dacă unui cititor i-a
                            plăcut foarte mult o carte a unui anumit autor, el poate "scana" acea carte, iar aplicația
                            noastră îi va sugera imediat alte titluri ale aceluiași autor, la cel mai bun preț.
                        </h3>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated"
                     data-wow-duration="500ms">
                    <div class="counters-item">
                        <i class="fa fa-book fa-3x"></i>
                        <h4>peste 20.000</h4>
                        <p>Cărți</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms"
                     data-wow-delay="300ms">
                    <div class="counters-item">
                        <i class="fa fa-users fa-3x"></i>
                        <h4>peste 6.000</h4>
                        <p>Autori</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms"
                     data-wow-delay="600ms">
                    <div class="counters-item">
                        <i class="fa fa-building fa-3x"></i>
                        <h4>2 mari</h4>
                        <p>Librării</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms"
                     data-wow-delay="900ms">
                    <div class="counters-item">
                        <i class="fa fa-print fa-3x"></i>
                        <h4>peste 500</h4>
                        <p>Edituri</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>


    <!-- Pagina: Echipa -->
    <section id="team" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading wow fadeIn animated" style="font-family:Tangerine,Serif,serif; font-size: 60px" data-wow-duration="1500ms">Echipa noastra</h2>
                    <h3 class="section-subheading text-muted wow slideInLeft animated" data-wow-duration="1000ms"></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="team-member">
                        <img src="../static/img/diana225x225.png" class="img-responsive img-circle" alt="">
                        <h3 style="font-family:'Open Sans',Serif,serif; font-size: 30px;margin-left: 40px;font-style: italic">Diana, 20 ani</h3>
                    </div>
                </div>

                <div class="col-sm-3 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="team-member">
                        <img src="../static/img/dianae225x225.png" class="img-responsive img-circle" alt="">
                        <h3 style="font-family:'Open Sans',Serif,serif; font-size: 30px;margin-left: 40px;font-style: italic">Diana, 20 ani</h3>
                    </div>
                </div>

                <div class="col-sm-3 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="team-member">
                        <img src="../static/img/tibi225x225.png" class="img-responsive img-circle"
                             alt="">
                        <h3 style="font-family:'Open Sans',Serif,serif; font-size: 30px;margin-left: 40px;font-style: italic">Tiberiu, 21 ani</h3>
                    </div>
                </div>

                <div class="col-sm-3 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="team-member">
                        <img src="../static/img/miriam225x225.png" class="img-responsive img-circle" alt="">
                        <h3 style="font-family:'Open Sans',Serif,serif; font-size: 30px;margin-left: 40px;font-style: italic">Miriam, 20 ani</h3>
                    </div>
                </div>

            </div> <!---->
            <br>
        </div>
    </section>

{% endblock %}

