{% extends "layout.html" %}
{% block styles %}

{% endblock %}

{% block content %}

    <section class="content-section bg-primary text-center" id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well well-sm">
                    <form class="form-horizontal" method="post">
                        <fieldset>

                            <legend class="text-center text-bold">Contactează-ne</legend>

                            <!-- Nume input-->
                            <div class="form-group">
                                <label class="col-md-3 text-black" for="nume">Nume</label>
                                <div class="col-md-9">
                                    <input id="nume" name="Nume" type="text" placeholder="Nume" class="form-control">
                                </div>
                            </div>

                            <!-- Prenume input-->
                            <div class="form-group">
                                <label class="col-md-3 text-black" for="prenunme">Prenume</label>
                                <div class="col-md-9">
                                    <input id="prenume" name="Prenume" type="text" placeholder="Prenume" class="form-control">
                                </div>
                            </div>

                            <!-- Email input-->
                            <div class="form-group">
                                <label class="col-md-3 text-black" for="email">Email</label>
                                <div class="col-md-9">
                                    <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                                </div>
                            </div>

                            <!-- Message body -->
                            <div class="form-group">
                                <label class="col-md-3 text-black" for="message">Mesaj</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="message" name="message" placeholder="Introduceți mesajul aici..." rows="5"></textarea>
                                </div>
                            </div>

                            <!-- Form actions -->
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn btn-primary btn-lg">TRIMITE</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <img src="../static/img/BooksContactForm.jpg" alt="Books" height="400" width="500">
            </div>

        </div>
    </div>
    </section>

{% endblock %}

