{% extends "layout.html" %}
{% block styles %}
{% endblock %}

{% block content %}
    <!-- Header -->
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1 text-white outline-glow" style="font-family:Tangerine,Serif,serif; font-size: 120px">Catch-a-Book</h1>
            <!--
        <h3 class="mb-5 text-white outline-glow">
          <em>{{message}}</em>
        </h3>
        -->

            <form method="post" class="form-inline animated flipInX container" enctype="multipart/form-data">
                <input type="submit" value="Caută cartea" class="btn-danger btn-cautare btn-xl js-scroll-trigger"
                       id="cauta"
                       style="display: none;">

                <!-- <div class="row"> -->
                <label class="page-scroll btn-success btn-cautare btn-xl" id="labelUpload">
                    <input type="file" class=" fileinput" name="file" id="fileToUpload" style="display: none"
                           onclick="changeLabel();">
                    <span id="uploadButtonName">Upload poză ISBN</span>
                </label>
                <!-- </div>   -->

                <!-- <div class="row margin-top-20px" id="manualISBN"> -->
                <div class="form-group">
                    <label>sau scrie ISBN-ul aici...:</label>
                    <input type="text" class="form-control" id="manualISBNinput" name="manualISBNinput"
                           onChange="showSearchBtnIfText()" onfocus="showSearchBtnIfText()">
                </div>
                <!-- </div> -->


                <!-- <div class="row margin-top-20px" > -->

                <!-- </div> -->
                <!-- <br>  Space between buttons -->
                <!-- <div class="row"> -->
                <!--must be just name of section in href for effect -->
                <a class="page-scroll btn-dark btn-instructiuni js-scroll-trigger" href="#instructions">
                    <h6>Instrucțiuni de utilizare</h6>
                </a>
                <!-- </div> -->

            </form>
        </div>
        <div class="overlay"></div>
    </header>

    <!-- Call to Action -->
    <section id ="instructions" class="content-section bg-primary text-white">
        <div class="container">
            <h2 class="mb-4"> Instrucțiuni de utilizare ISBN </h2>


            <div class="row">
                <p>Pentru a căuta o carte, cu ajutorul unei poze, urmează pașii de mai jos:</p>
                <ol>
                    <li>Gasește ISBN-ul cărții (de obicei, pe ultima pagină sau pe ultima copertă)</li>
                    <li>Fă o poză la codul ISBN</li>
                    <li>Fă crop pozei, ca în exemplul de mai jos</li>
                    <br>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="../static/img/isbn_example/isbn_example.jpg" class="img-responsive img thumbnail">
                        </div>
                    </div>
                    <li>Apasă pe butonul "Upload poză ISBN" de pe pagina principală a website-ului Book Lovers</li>
                    <li>Selectează poza respectivă</li>
                    <li>Apasă butonul "Caută cartea"</li>
                    <li>Vezi lista de cărți :)</li>
                </ol>
            </div>


        </div>
    </section>

{% endblock %}

{% block scripts %}
    <!-- Additional scripts here -->
    <script src="../static/js/index.js"></script>

{% endblock %}

