{% extends "layout.html" %}
{% block styles %}

{% endblock %}

{% block content %}

    <section id="title-ISBN" class="bg-white">
        <div class="containter text-center">
            <h2> ISBN-ul căutat este: </h2>
            <h2> {{ isbn }}</h2>
        </div>
    </section>


    <section id="search_book" class="content-section bg-primary text-center">
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form>
                        <div class="media">
                            <div class="media-left">
                                {% if image_link %}
                                    <img src={{ image_link }} style="width: 160px">
                                {% else %}
                                    <img src="../static/img/book.png" style="width: 250px">
                                {% endif %}
                            </div>
                            <div class="media-body">
                                <br>
                                <h3 class="media-heading">Titlu: {{ title }}</h3>
                                <h4> Autorul cărții: {{ author }} </h4>
                                <h4> Cel mai bun preț: {{ good_price }} lei</h4>
                                <h4> Librăria: {{ librarie_good }} </h4>
                            </div>
                        </div>
                        {% if bad_price %}
                            <h4> Al doilea preț: {{ bad_price }} lei</h4>
                            <h4> A doua librărie: {{ librarie_bad }} </h4>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="recommended_books" class="bg-white text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Lista cărților recomandate</h2>
                    <hr>
                </div>
            </div>

        </div>

    </section>


{% endblock %}

