{% extends "layout.html" %}
{% block styles %}

{% endblock %}

{% block content %}

    <section class="content-section">
        <div class="containter text-center">
            <h4> ISBN-ul cautat este: {{ isbn }}</h4>
        </div>
    </section>


    <section id="search_book" class="content-section bg-primary text-center">
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form>
                        <div class="media">
                            <div class="media-left">
                                {% if image_link %}
                                    <img src={{ image_link }} style="width: 160px">
                                {% else %}
                                    <img src="../static/img/book.png" style="width: 250px">
                                {% endif %}
                            </div>
                            <div class="media-body">
                                <br>
                                <h4 class="media-heading">Titlu: {{ title }}</h4>
                                <h5> Autorul cartii: {{ author }} </h5>
                                <h5> Cel mai bun pret: {{ good_price }} lei</h5>
                                <h5> Libraria: {{ librarie_good }} </h5>
                            </div>
                        </div>
                        {% if bad_price %}
                            <h5> Al doilea pret: {{ bad_price }} lei</h5>
                            <h5> A doua librarie: {{ librarie_bad }} </h5>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

