{% extends "layout.html" %}
{% block styles %}

{% endblock %}

{% block content %}

    <section id="title-ISBN" class="bg-white">
        <div class="containter text-center">
            <h2> ISBN-ul căutat este: </h2>
            <h2> {{ isbn }}</h2>
        </div>
    </section>


    <section id="search_book" class="content-section bg-primary text-center">
        <div class="container">
            <br><br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <form>
                        <div class="media">
                            <div class="media-left">
                                {% if book.link %}
                                    <img src={{ book.link }} style="width: 160px">
                                {% else %}
                                    <img src="../static/img/book.png" style="width: 250px">
                                {% endif %}
                            </div>
                            <div class="media-body">
                                {% if book %}
                                    <h3 class="media-heading"><b>Titlu: {{ book.title }} </b></h3>
                                    <h4> Autorul cărții: {{ book.author }} </h4>
                                    <div class="col-md-6">
                                    <h4> Cel mai bun preț: {{ book.price }} lei</h4>
                                    {% if book.publisher %}
                                        <h4> Editura: {{ book.publisher }} </h4>
                                    {% endif %}
                                    {% if book.library %}
                                        <h4> Librăria: {{ book.library.name }} </h4>
                                    {% endif %}
                                    {% if link %}
                                        <h4> Link:
                                            <a href="{{ book.link }}">
                                                {{ book.link }}
                                            </a>
                                        </h4>
                                    {% endif %}
                                {% else %}
                                    <h3 class="media-heading">Nu am găsit nici o carte cu acest ISBN</h3>
                                    <!--                                     <h4> Autorul cărții: - </h4>
                                                                        <h4> Cel mai bun preț: - </h4>
                                                                        <h4> Librăria: - </h4> -->
                                {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {% if book_second_price %}
                                        <h4> Al doilea preț: {{ book_second_price.price }} lei</h4>
                                        <h4> Librărie: {{ book_second_price.library.name }} </h4>
                                        <h4> Link: {{ book_second_price.link }} </h4>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% if recommended_books %}
        <section id="recommended_books" class="bg-white">
            <div class="container">
                <div class="row">
                    <div >
                        <h2 class="text-center">Lista cărților recomandate</h2>
                        <hr>
                        {% for book in recommended_books %}
                            <div class="col-sm-4">
                                <p>titlu: {{ book.title }}</p>
                                <p>autor: {{ book.author }}</p>
                                <p>pret: {{ book.price }}</p>
                                <p>link: {{ book.link }}</p>
                                <p>editura: {{ book.publisher }}</p>
                                <p>librarie: {{ book.library.name }}</p>
                                <hr>
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>

        </section>
    {% endif %}


{% endblock %}

